<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$title}></title>
<link type="text/css" rel="stylesheet" href="<{$STYLEPATH}>hute/css/all.css">
<link rel="stylesheet" href="<{$STYLEPATH}>hute/css/idangerous.swiper.css">
</head>

<body>
    <{include file="header.html"}>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main_table">
        <tr class="nav">
            <td class="line1" width="50%"></td>
            <td class="line2">
                <ul>
                    <li class="menu1"><a href="#"><{$title}></a></li>
                    <li class="menu2"><a href="#"><{$db}></a></li>
                    <li class="menu3"><a href="#">产品中心</a></li>
                    <li class="menu4"><a href="#">新闻资讯</a></li>
                    <li class="menu5"><a href="#">联系我们</a></li>
                </ul>
            </td>
            <td class="line3" width="50%"></td>
        </tr>
    
        <tr class="banner">
            <td class="line1">
                <span class="left_flag"></span>
            </td>
            <td class="line2">
                <img src="<{$STYLEPATH}>hute/images/banner2.png">
            </td>
            <td class="line1">
                <span class="right_flag"></span>
            </td>
        </tr>
    </table>

    <div class="center">
        <div class="line1">
            <ul>
                <li>
                    <dl>
                        <dt>欢迎到德国胡特的主页</dt>
                        <dd>
                            <p>胡特(HUTER)品牌于1935年成立于德国西南部的著名工业重镇斯图加特(Stuttgart)，最初为一家小型汽车零配件代加工厂，主要为一些大汽车品牌生产零配件。</p>
                            <p>1938年-1945年 接受军管，主要生产军用车辆润滑油以及配件。</p>
                            <p>1950年 阿道夫·海森堡（Adolf Heisenberg）先生接手工厂，胡特开始转型生产民用车辆润滑油以及零配件的研发与生产。</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>我们的产品</dt>
                        <dd>
                            <p>
                                <a href="#">汽油发动机润滑油</a>、
                                <a href="#">柴油发动机润滑油</a>、
                                <a href="#">摩托车发动机油</a>、
                                <a href="#">附属油</a>、
                                <a href="#">汽油发动机润滑油</a>、
                                <a href="#">柴油发动机润滑油</a>、
                                <a href="#">摩托车发动机油</a>、
                                <a href="#">附属油</a>、
                                <a href="#">汽油发动机润滑油</a>、
                                <a href="#">柴油发动机润滑油</a>、
                                <a href="#">摩托车发动机油</a></a>、
                                <a href="#">附属油</a>、
                                <a href="#">汽油发动机润滑油</a>、
                                <a href="#">柴油发动机润滑油</a>、
                                <a href="#">摩托车发动机油</a>、
                                <a href="#">附属油</a>、
                                <a href="#">汽油发动机润滑油</a>、
                                <a href="#">柴油发动机润滑油</a>、
                                <a href="#">摩托车发动机油</a>、
                                <a href="#">附属油</a>、
                                <a href="#">汽油发动机润滑油</a>、
                                <a href="#">柴油发动机润滑油</a>、
                                <a href="#">摩托车发动机油</a>、
                                <a href="#">附属油</a>
                            </p>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="index_bottom">
        <div class="line1">
            <ul>
                <li>
                    <dl>
                        <dt><img src="<{$STYLEPATH}>hute/images/goods1.png"></dt>
                        <dd>
                            <h1>胡特伯爵1000高性能发动机润滑油</h1>
                            <p>采用胡特独特的绿色动力因子（GREEN POWER）技术，广泛适用于中国各地区全年不同气温下运行的各种微型车与面包车。</p>
                        </dd>
                        <a class="link" href="#"></a>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><img src="<{$STYLEPATH}>hute/images/goods1.png"></dt>
                        <dd>
                            <h1>胡特伯爵1000高性能发动机润滑油</h1>
                            <p>采用胡特独特的绿色动力因子（GREEN POWER）技术，广泛适用于中国各地区全年不同气温下运行的各种微型车与面包车。</p>
                        </dd>
                        <a class="link" href="#"></a>
                    </dl>
                </li>
                <li class="last">
                    <dl>
                        <dt><img src="<{$STYLEPATH}>hute/images/goods1.png"></dt>
                        <dd>
                            <h1>胡特伯爵1000高性能发动机润滑油</h1>
                            <p>采用胡特独特的绿色动力因子（GREEN POWER）技术，广泛适用于中国各地区全年不同气温下运行的各种微型车与面包车。</p>
                        </dd>
                        <a class="link" href="#"></a>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer2">
        <div>
            <ul class="line1">
                <a href="#"><li>首页</li></a>
                <a href="#"><li>关于我们</li></a>
                <a href="#"><li>产品中心</li></a>
                <a href="#"><li>新闻资讯</li></a>
                <a href="#"><li>联系我们</li></a>
            </ul>
            <p class="line2">Copyright<i>@HUTER</i></p>
        </div>
    </div>
<script src="<{$STYLEPATH}>hute/js/jquery.js"></script>
</body>
</html>
