<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品详情</title>
<link type="text/css" rel="stylesheet" href="../css/all.css">
<link rel="stylesheet" href="../css/idangerous.swiper.css">
</head>

<body>
    <div class="header2">
        <dl>
            <dt><img src="../images/logo2.png"></dt>
            <dd>
                <ul>
                    <li><a href="#"><img src="../images/de_2.png"></a></li>
                    <li><a href="#"><img src="../images/en_2.png"></a></li>
                    <li><a href="#"><img src="../images/cn_2.png"></a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main_table">
        <tr class="nav">
            <td class="line1" width="50%"></td>
            <td class="line2">
                <ul>
                    <li class="menu1"><a href="#">首页</a></li>
                    <li class="menu2"><a href="#">关于我们</a></li>
                    <li class="menu3"><a href="#">产品中心</a></li>
                    <li class="menu4"><a href="#">新闻资讯</a></li>
                    <li class="menu5"><a href="#">联系我们</a></li>
                </ul>
            </td>
            <td class="line3" width="50%"></td>
        </tr>
    
        <tr class="banner">
            <td class="line1">
                <span class="left_flag"></span>
            </td>
            <td class="line2">
                <img src="../images/banner2.png">
            </td>
            <td class="line1">
                <span class="right_flag"></span>
            </td>
        </tr>
    </table>

    <div class="list" id="list">
        <div>
            <dl class="line1">
                <dt>产品分类</dt>
                <dd>
                    <ul>
                        <li><a href="#">汽油发动机油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">柴油发动机油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">摩托车发动机油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">附属油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                    </ul>
                </dd>
            </dl>
            
            <div class="line3" id="obtain">
                <div class="details">
                    <dl>
                        <dt><img src="../images/goods2.png"></dt>
                        <dd><span>胡特伯爵1000高性能发动机润滑油</span></dd>
                    </dl>
                    <ul>
                        <li>包装：1L & 4L</li>
                        <li>采用胡特独特的绿色动力因子（GREEN POWER）技术与国际领先合成技术。</li>
                        <li class="cur">·卓越的冷启动性能</li>
                        <li class="cur">·突出的分散性和清净性</li>
                        <li class="cur">·良好的抗氧化性和抗摩特性</li>
                        <li class="cur">·延长换油周期</li>
                        <li class="cur">·与垫圈与密封材料相容</li>
                        <li class="cur">·适用于汽油和柴油发动机的四季通用</li>
                        <li>√ 执行标准：Q/HTOGZ-GE-2012</li>
                        <li>√ API：SM / CF</li>
                        <li>√ SAE：5W30 & 5W40</li>
                        <li>√ ACEA：A3 / B4</li>
                        <li>√ ILSAC：GF-4</li>
                        <li>通过或满足国际汽车制造厂商认证：</li>
                    </ul>

                    <div class="data">
                        <h1>典型MSDS数据（以下数据为当前产品的典型数据，不等同于技术规范）</h1>
                        <table>
                            <tr>
                                <td>性能</td>
                                <td>检测方法</td>
                                <td>MARQUIS 5000 5W40</td>
                            </tr>
                            <tr>
                                <td>密度(20℃)</td>
                                <td>ASTM D4052</td>
                                <td>0.8481</td>
                            </tr>
                            <tr>
                                <td>密度(20℃)</td>
                                <td>ASTM D4052</td>
                                <td>0.8481</td>
                            </tr>
                            <tr>
                                <td>密度(20℃)</td>
                                <td>ASTM D4052</td>
                                <td>0.8481</td>
                            </tr>
                            <tr>
                                <td>密度(20℃)</td>
                                <td>ASTM D4052</td>
                                <td>0.8481</td>
                            </tr>
                            <tr>
                                <td>密度(20℃)</td>
                                <td>ASTM D4052</td>
                                <td>0.8481</td>
                            </tr>
                            <tr>
                                <td>密度(20℃)</td>
                                <td>ASTM D4052</td>
                                <td>0.8481</td>
                            </tr>
                            <tr>
                                <td>密度(20℃)</td>
                                <td>ASTM D4052</td>
                                <td>0.8481</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer2">
        <div>
            <ul class="line1">
                <a href="#"><li>首页</li></a>
                <a href="#"><li>关于我们</li></a>
                <a href="#"><li>产品中心</li></a>
                <a href="#"><li>新闻资讯</li></a>
                <a href="#"><li>联系我们</li></a>
            </ul>
            <p class="line2">Copyright<i>@HUTER</i></p>
        </div>
    </div>
<script src="../js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var get=$("#obtain").height();
        var high=get-250;
        $("#list").css("height",high);
    });
</script>
</body>
</html>
