<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品列表</title>
<link type="text/css" rel="stylesheet" href="../css/all.css">
<link rel="stylesheet" href="../css/idangerous.swiper.css">
</head>

<body>
    <div class="header2">
        <dl>
            <dt><img src="../images/logo2.png"></dt>
            <dd>
                <ul>
                    <li><a href="#"><img src="../images/de_2.png"></a></li>
                    <li><a href="#"><img src="../images/en_2.png"></a></li>
                    <li><a href="#"><img src="../images/cn_2.png"></a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main_table">
        <tr class="nav">
            <td class="line1" width="50%"></td>
            <td class="line2">
                <ul>
                    <li class="menu1"><a href="#">首页</a></li>
                    <li class="menu2"><a href="#">关于我们</a></li>
                    <li class="menu3"><a href="#">产品中心</a></li>
                    <li class="menu4"><a href="#">新闻资讯</a></li>
                    <li class="menu5"><a href="#">联系我们</a></li>
                </ul>
            </td>
            <td class="line3" width="50%"></td>
        </tr>
    
        <tr class="banner">
            <td class="line1">
                <span class="left_flag"></span>
            </td>
            <td class="line2">
                <img src="../images/banner2.png">
            </td>
            <td class="line1">
                <span class="right_flag"></span>
            </td>
        </tr>
    </table>

    <div class="list">
        <div>
            <dl class="line1">
                <dt>产品分类</dt>
                <dd>
                    <ul>
                        <li><a href="#">汽油发动机油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">柴油发动机油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">摩托车发动机油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">附属油</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                        <li><a href="#">- 公爵9000</a></li>
                    </ul>
                </dd>
            </dl>
            
            <div class="line2">
                <dl>
                    <dt class="list_top"><span class="red">目录</span> > <span>产品中心</span> > <span>汽油发动机油</span></dt>
                    <dd class="list_mid">
                        <ul class="goods">
                            <li>
                                <dl>
                                    <dt><img src="../images/goods3.png"></dt>
                                    <dd>
                                        <h1>胡特伯爵1000高性能发动机润滑油</h1>
                                        <p>采用胡特独特的绿色动力因子（GREEN POWER）技术，广泛适用于中国各地区全年不同气温下运行的各种微型车与面包车。</p>
                                    </dd>
                                    <span class="link">了解更多</span>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><img src="../images/goods3.png"></dt>
                                    <dd>
                                        <h1>胡特伯爵1000高性能发动机润滑油</h1>
                                        <p>采用胡特独特的绿色动力因子（GREEN POWER）技术，广泛适用于中国各地区全年不同气温下运行的各种微型车与面包车。</p>
                                    </dd>
                                    <span class="link">了解更多</span>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><img src="../images/goods3.png"></dt>
                                    <dd>
                                        <h1>胡特伯爵1000高性能发动机润滑油</h1>
                                        <p>采用胡特独特的绿色动力因子（GREEN POWER）技术，广泛适用于中国各地区全年不同气温下运行的各种微型车与面包车。</p>
                                    </dd>
                                    <span class="link">了解更多</span>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><img src="../images/goods3.png"></dt>
                                    <dd>
                                        <h1>胡特伯爵1000高性能发动机润滑油</h1>
                                        <p>采用胡特独特的绿色动力因子（GREEN POWER）技术，广泛适用于中国各地区全年不同气温下运行的各种微型车与面包车。</p>
                                    </dd>
                                    <span class="link">了解更多</span>
                                </dl>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <div class="page">
                    <ul>
                        <li class="cur"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                    <p>Page 1 of 5</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer2">
        <ul class="line1">
            <li>首页</li>
            <li>关于我们</li>
            <li>产品中心</li>
            <li>新闻资讯</li>
            <li>联系我们</li>
        </ul>
        <p class="line2">Copyright<i>@HUTER</i></p>
    </div>
<script src="../js/jquery.js"></script>
</body>
</html>
