<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻资讯</title>
<link type="text/css" rel="stylesheet" href="../css/all.css">
<link rel="stylesheet" href="../css/idangerous.swiper.css">
</head>

<body>
    <div class="header2">
        <dl>
            <dt><img src="../images/logo2.png"></dt>
            <dd>
                <ul>
                    <li><a href="#"><img src="../images/de_2.png"></a></li>
                    <li><a href="#"><img src="../images/en_2.png"></a></li>
                    <li><a href="#"><img src="../images/cn_2.png"></a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main_table">
        <tr class="nav">
            <td class="line1" width="50%"></td>
            <td class="line2">
                <ul>
                    <li class="menu1"><a href="#">首页</a></li>
                    <li class="menu2"><a href="#">关于我们</a></li>
                    <li class="menu3"><a href="#">产品中心</a></li>
                    <li class="menu4"><a href="#">新闻资讯</a></li>
                    <li class="menu5"><a href="#">联系我们</a></li>
                </ul>
            </td>
            <td class="line3" width="50%"></td>
        </tr>
    
        <tr class="banner">
            <td class="line1">
                <span class="left_flag"></span>
            </td>
            <td class="line2">
                <img src="../images/banner2.png">
            </td>
            <td class="line1">
                <span class="right_flag"></span>
            </td>
        </tr>
    </table>

    <div class="news">
        <div>
            <div class="line1">
                <img src="../images/about_img.png">
            </div>
            
            <div class="line2">
                <div class="bg_fff">
                    <h2>新闻资讯</h2>
                    <ul>
                        <li>
                            <dl>
                                <dt><img src="../images/news_img1.png"></dt>
                                <dd>
                                    <h1><a href="#">德国胡特润滑油新包装8月30日震撼上市</a><i>2016-03-06</i></h1>
                                    <p>动力更强劲，更宁静顺滑，抗氧耐磨，提功率，降油耗新一代添加剂技术，跑10000公里性能始终如一，带给你更多的驾驶乐趣！胡特全合成发动机润滑油——全方位呵护发动机，保养高枕无忧</p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <a href="#"><dt><img src="../images/news_img1.png"></dt></a>
                                <dd>
                                    <h1><a href="#">德国胡特润滑油新包装8月30日震撼上市</a><i>2016-03-06</i></h1>
                                    <p>动力更强劲，更宁静顺滑，抗氧耐磨，提功率，降油耗新一代添加剂技术，跑10000公里性能始终如一，带给你更多的驾驶乐趣！胡特全合成发动机润滑油——全方位呵护发动机，保养高枕无忧</p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <a href="#"><dt><img src="../images/news_img1.png"></dt></a>
                                <dd>
                                    <h1><a href="#">德国胡特润滑油新包装8月30日震撼上市</a><i>2016-03-06</i></h1>
                                    <p>动力更强劲，更宁静顺滑，抗氧耐磨，提功率，降油耗新一代添加剂技术，跑10000公里性能始终如一，带给你更多的驾驶乐趣！胡特全合成发动机润滑油——全方位呵护发动机，保养高枕无忧</p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <a href="#"><dt><img src="../images/news_img1.png"></dt></a>
                                <dd>
                                    <h1><a href="#">德国胡特润滑油新包装8月30日震撼上市</a><i>2016-03-06</i></h1>
                                    <p>动力更强劲，更宁静顺滑，抗氧耐磨，提功率，降油耗新一代添加剂技术，跑10000公里性能始终如一，带给你更多的驾驶乐趣！胡特全合成发动机润滑油——全方位呵护发动机，保养高枕无忧</p>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>

                <div class="page">
                    <ul>
                        <li class="cur"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                    <p>Page 1 of 5</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer2">
        <div>
            <ul class="line1">
                <a href="#"><li>首页</li></a>
                <a href="#"><li>关于我们</li></a>
                <a href="#"><li>产品中心</li></a>
                <a href="#"><li>新闻资讯</li></a>
                <a href="#"><li>联系我们</li></a>
            </ul>
            <p class="line2">Copyright<i>@HUTER</i></p>
        </div>
    </div>
<script src="../js/jquery.js"></script>
</body>
</html>
