<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link type="text/css" rel="stylesheet" href="../css/all.css">
<link rel="stylesheet" href="../css/idangerous.swiper.css">
</head>

<body>
    <div class="header2">
        <dl>
            <dt><img src="../images/logo2.png"></dt>
            <dd>
                <ul>
                    <li><a href="#"><img src="../images/de_2.png"></a></li>
                    <li><a href="#"><img src="../images/en_2.png"></a></li>
                    <li><a href="#"><img src="../images/cn_2.png"></a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main_table">
        <tr class="nav">
            <td class="line1" width="50%"></td>
            <td class="line2">
                <ul>
                    <li class="menu1"><a href="#">首页</a></li>
                    <li class="menu2"><a href="#">关于我们</a></li>
                    <li class="menu3"><a href="#">产品中心</a></li>
                    <li class="menu4"><a href="#">新闻资讯</a></li>
                    <li class="menu5"><a href="#">联系我们</a></li>
                </ul>
            </td>
            <td class="line3" width="50%"></td>
        </tr>
    
        <tr class="banner">
            <td class="line1">
                <span class="left_flag"></span>
            </td>
            <td class="line2">
                <img src="../images/banner2.png">
            </td>
            <td class="line1">
                <span class="right_flag"></span>
            </td>
        </tr>
    </table>

    <div class="news">
        <div>
            <div class="line1">
                <img src="../images/about_img.png">
            </div>
            
            <div class="line3">
                <dl class="text">
                    <dt>
                        <h1>德国胡特润滑油新包装8月30日震撼上市</h1>
                        <i>2016-03-06</i>
                    </dt>
                    <dd>
                        <p>2012年2月29日，国务院常务会议同意发布新修订的《环境空气质量标准》。历时4年修改后，PM2.5终于写入“国标”，纳入各省市强制监测范畴。2012年3月份全国“两会”的提案议案中，“绿色”、“低碳”、“节能”和“环保”也毫无意外的成为各大代表委员们关注的焦点。</p>
                        <p>科学分析表明，汽车尾气中含有上百种不同的化合物，其中的污染物有固体悬浮微粒、一氧化碳、二氧化碳、碳氢化合物、氮氧化合物、铅及硫氧化合物等。一辆轿车一年排出的有害废气比自身重量大3倍，汽车尾气已经成为造成大气污染和阴霾天气的首要原因。</p>
                        <p>为了给神州大地更多的绿色，政府正在行动。国务院《节能与新能源汽车产业发展规划》的目标是：到2015年，当年生产的乘用车平均燃料消耗量降至6.9升/百公里，节能型乘用车燃料消耗量降至5.9升/百公里以下。到2020年，当年生产的乘用车平均燃料消耗量降至5.0升/百公里，碳排放降低到120克以下。专家认为，要达到目标，除了发动机技术进步之外，燃油和发动机润滑油至关重要。</p>
                        <p>在欧洲为了配合最严格的欧V(国V)排放标准，胡特结合最新的纳米科技发展出绿色动力因子合成技术。胡特在最优质基础油中添入独特的绿色动力因子添加剂，形成了胡特独特的发动机“启动-运行-关闭“360°的发动机全面保护系统。发动机全面保护系统以及最新的纳米科技，胡特润滑油能使发动机更接近零摩擦，使发动机更加充分燃烧，从而大幅减少尾气中的碳和硫排放。</p>
                        <p>为了我们赖以生存的家园能有更清洁的天气，大地更多的绿色，胡特与您一同努力！</p>
                        <span class="link">
                            <a href="javascript:void(0);">>返回列表页</a>
                        </span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="footer2">
        <div>
            <ul class="line1">
                <a href="#"><li>首页</li></a>
                <a href="#"><li>关于我们</li></a>
                <a href="#"><li>产品中心</li></a>
                <a href="#"><li>新闻资讯</li></a>
                <a href="#"><li>联系我们</li></a>
            </ul>
            <p class="line2">Copyright<i>@HUTER</i></p>
        </div>
    </div>
<script src="../js/jquery.js"></script>
</body>
</html>
