<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>联系我们</title>
<link type="text/css" rel="stylesheet" href="../css/all.css">
<link rel="stylesheet" href="../css/idangerous.swiper.css">
</head>

<body>
    <div class="header2">
        <dl>
            <dt><img src="../images/logo2.png"></dt>
            <dd>
                <ul>
                    <li><a href="#"><img src="../images/de_2.png"></a></li>
                    <li><a href="#"><img src="../images/en_2.png"></a></li>
                    <li><a href="#"><img src="../images/cn_2.png"></a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main_table">
        <tr class="nav">
            <td class="line1" width="50%"></td>
            <td class="line2">
                <ul>
                    <li class="menu1"><a href="#">首页</a></li>
                    <li class="menu2"><a href="#">关于我们</a></li>
                    <li class="menu3"><a href="#">产品中心</a></li>
                    <li class="menu4"><a href="#">新闻资讯</a></li>
                    <li class="menu5"><a href="#">联系我们</a></li>
                </ul>
            </td>
            <td class="line3" width="50%"></td>
        </tr>
    
        <tr class="banner">
            <td class="line1">
                <span class="left_flag"></span>
            </td>
            <td class="line2">
                <img src="../images/banner2.png">
            </td>
            <td class="line1">
                <span class="right_flag"></span>
            </td>
        </tr>
    </table>
    
    <div class="contact">
        <dl class="line1">
            <dt class="contact_left">
                <div>
                    <h1>德国胡特有限公司</h1>
                    <p>GERMANY HUTER LIMITED</p>
                    <p>亚太区联系方式：</p>
                    <p>香港九龙旺角道33号凯途发展大厦7楼04室</p>
                    <p>UNIT 04,7/F,BRIGHT WAY TOWER, NO.33 MONG KOK ROAD, KOWLOON, HK.</p>
                    <p>电话：00852-27935511</p> 
                    <p>传真：00852-35902333</p>
                </div>
                <div>
                    <h1>中国大陆联系方式：</h1>
                    <p>电话：400 619 0901</p>
                    <p>EMAIL：hutergroup@163.com</p>
                    <p>官方客服QQ：2060149192</p>
                </div>
            </dt>
            <dd class="contact_right">
                <dl>
                    <dt>
                        <h1>联系我们</h1>
                        <p>联系我们，请使用下面的表格。我们会尽快给您答复。</p>
                    </dt>
                    <dd>
                        <ul>
                            <li>
                                <label>您的名字<i>*</i></label>
                                <input type="text">
                            </li>
                            <li>
                                <label>您的Email<i>*</i></label>
                                <input type="text">
                            </li>
                            <li>
                                <label>主题</label>
                                <input type="text">
                            </li>
                            <li>
                                <label>留言内容</label>
                                <textarea></textarea>
                            </li>
                        </ul>
                    </dd>
                    <div class="button"><input type="button" value="发送消息"></div>
                </dl>
            </dd>
        </dl>
    </div>

    <div class="footer2">
        <ul class="line1">
            <li>首页</li>
            <li>关于我们</li>
            <li>产品中心</li>
            <li>新闻资讯</li>
            <li>联系我们</li>
        </ul>
        <p class="line2">Copyright<i>@HUTER</i></p>
    </div>
<script src="../js/jquery.js"></script>
</body>
</html>
